@import "tailwindcss";

:root {
  --background: #000;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  height: 100vh;
  width: 100vw;
  margin: 0;
}
